# Ignore all files in the writable directory
/writable/debugbar/*.json
/writable/logs/*.log
/writable/session/*
# Ignore all files in the writable directory except .gitkeep
!.gitkeep
# Ignore vendor directory
/vendor/
# Ignore environment variable files
.env.test
.env